body {
    font-family: Arial, sans-serif;
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

header, footer {
    text-align: center;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.8);
}

main {
    margin: 2em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.8);
}

h1, h2 {
    color: #0056b3;
}
